body{
    margin: 0;
    font-family: sans-serif;
}

#page-heading{
    
    margin-top: 25px;
    color: aqua;
}

form{
    display: flex;
    align-items: center;
}

#contact-list-container ul{
    padding: 0;
    list-style: none;
}

.contact{
    padding:3px 10px;
    border: 1px solid white;
    background-color: #6f92f9;
    box-shadow: 1px 1px 1px 1px lightcoral;
    color: white;
    display: flex;
}


.contact .details{
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
 justify-content: space-between;
 width: 90%;
}

.contact .delete-button{
  width :10%;
  text-align: center;
}

.contact p{
    margin: 5px 0;
}