body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-image: linear-gradient(-225deg, #f60a84 0%, #af04f8 48%,#f60a84  100%);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

#page-heading{
    
    text-align: center; 
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#contact-list-container ul{
    padding: 0;
    list-style: none;
}

.contact{
    padding:3px 10px;
    border: 1px solid rgb(110, 12, 247);
    background-color: #f083e3;
    box-shadow: 1px 1px 1px 1px rgb(240, 128, 216);
    color: white;
    display: flex;
}


.contact .details{
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
 justify-content: space-between;
 width: 90%;
}

.contact .delete-button{
  width :10%;
  text-align: center;
  
}

 .delete-button:hover{
color: red;
}


.contact p{
    margin: 5px 0;
}

#new-contact-form{
   display: flex; 
   flex-direction: row;
}

#new-contact-form button{
    background-color: rgb(3, 222, 251);
}

#new-contact-form input{
  border-radius: 2px;

}